@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
	background-color: #252525;
	font-family: "Poppins", sans-serif;
	text-align: center;
}

.main {
	background-color: #909090;
	width: 35%;
	height: 300px; /* 500px */
	margin: auto;
	margin-top: 15%;
}
.title {
	text-align: center;
	padding-top: 30px;
}
.title span {
	border-bottom: 3px solid #000;
}

.data {
	width: 85%;
	margin-top: 20px;
	height: 14%;
	text-align: center;
}

.submit {
	width: 87%;
	margin-top: 50px;
	height: 14%;
	text-align: center;
	border: none;
	background-color: #1a1a1a;
	color: #f0f0f0;
	font-weight: 500;
}
img {
	margin-top: 40px;
	margin-left: 35%;
	display: none;
}
